.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;

  height: 100%;
  /* background-color: #4e6e81a1; */
  transition: 0.3s;
  transition-delay: 0.3s;
}
.navbar-items {
  margin-top: 30px;
  gap: 30px;
  opacity: 0;
  text-align: center;
  transition: 0.3s;
}
/* .navbar-bg{
  background-color: #cccccc48;
} */
.nav-bar:hover {
  width: 400px;
  transition: width 0s;
}
.nav-bar:hover .navbar-items {
  opacity: 1;
  display: block;
  transition: 2s;
}

.nav-bar:hover .arrow {
  opacity: 0;
  transition: 0s;
}
.arrow {
  content: "";
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  border: solid #f8f8f8a1;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(135deg);
  transition: 3s;
}

.titel {
  font-size: 40px;
}
.img {
  transition: 0.3s;
}
.navbar-image {
  width: 300px;
  border-radius: 20px;
}
.links {
  margin: 10px;
}
.links:hover,
.locatie:hover {
  text-decoration: line-through;
  transition: 0.3s;
}
.locaties {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.locatie,
.locatie2 {
  margin-top: 5%;
  text-transform: uppercase;
}
.vestiging {
  font-weight: bold;
  text-decoration: underline;
}
.logo-img {
  max-width: 300px;
  margin-left: 10px;
  margin-top: 10px;
}
.copy {
  font-size: 12px;
}
.content {
  margin-top: 130px;
  margin-left: 20px;
  width: 700px;
}
.welkom {
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.welkom2 {
  color: #fff;
  font-size: 16px;
}
.admin-container {
  text-align: right;
  margin-right: 10px;
}
.admin-container a {
  color: rgba(0, 0, 0, 0.484);
}
.admin-container a:hover {
  text-decoration: line-through;
}
.nav-bar-m {
  display: none;
}
.socials {
  margin-top: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
i {
  font-size: 20px;
}
i:hover {
  transform: scale(1.2);
}

.nav-bar-m {
  position: relative;
}
#menu-toggle {
  display: none;
}
.menu-icon {
  color: #f1f1f1;
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  font-size: 4rem;
  line-height: 20px;
  padding: 10px;
}
.menu-icon:hover {
  color: #000000;
}
.menu-content {
  top: -500px;
  background-color: #4e6e81;
  position: absolute;
  min-width: 80%;
  max-width: 100%;
  height: 250px;
  transition: 0.4s;
}
.reserveren-m {
  margin-top: 20px;
}
.link-m {
  font-size: 30px;
}
.menu-subtitle,
.menu-locatie {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}
.menu-content {
  text-align: center;
}
#menu-toggle:checked + .menu-content {
  top: 0px;
}
